<!--<div class="jumbotron text-center">
	<h1>About</h1>
</div>-->
<div>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">What is NEAT?<span class="pull-right"><span class="glyphicon glyphicon-collapse-down" ng-click="showHelp(5, false)"></span> / <span class="glyphicon glyphicon-collapse-up" ng-click="showHelp(5, true)"></span></h3>
				</div>
				<div class="panel-body" ng-hide="help5">
					A testing tool (mobile friendly* ) to test the web services (Individual/Chained), GOLD/External)with the scope of future enhancement and flexibility to include 
					<ul>
						<li>UI testing*</li>
						<li>Java method tracing*</li>
						<li>Performance testing*</li>
						<li>GOLD log analyzer</li>
					</ul>
					as well and many more.

				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">What are Web Service templates?<span class="pull-right"><span class="glyphicon glyphicon-collapse-down" ng-click="showHelp(1, false)"></span> / <span class="glyphicon glyphicon-collapse-up" ng-click="showHelp(1, true)"></span></h3>
				</div>
				<div class="panel-body" ng-hide="help1">
					Panel content
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">What are Specific Request templates?<span class="pull-right"><span class="glyphicon glyphicon-collapse-down" ng-click="showHelp(2, false)"></span> / <span class="glyphicon glyphicon-collapse-up" ng-click="showHelp(2, true)"></span></h3>
				</div>
				<div class="panel-body" ng-hide="help2">
					Panel content
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">What are Header templates?<span class="pull-right"><span class="glyphicon glyphicon-collapse-down" ng-click="showHelp(3, false)"></span> / <span class="glyphicon glyphicon-collapse-up" ng-click="showHelp(3, true)"></span></h3>
				</div>
				<div class="panel-body" ng-hide="help3">
					Panel content
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">How can we create a Test Case?<span class="pull-right"><span class="glyphicon glyphicon-collapse-down" ng-click="showHelp(4, false)"></span> / <span class="glyphicon glyphicon-collapse-up" ng-click="showHelp(4, true)"></span></h3>
				</div>
				<div class="panel-body" ng-hide="help4">
					Panel content
				</div>
			</div>
		</div>
	</div>
</div>